.ar {
  @include bg;
  background-image: url('/src/img/bgs/ar-bg.jpg');
  padding-top: 100px;
  padding-bottom: 90px;

  @media (max-width: 1150px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.ar__title {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: #ffd5ca;
  text-align: center;
}

.ar__devider {
  background-color: #8b8af2;
}

.ar__text {
  max-width: 714px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  margin-bottom: 50px;

  @include tablet-mb;
  @include mobile-mb;
}

.ar__content-box-wrapper {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &_top {
    margin-bottom: 50px;

    @include tablet-mb;
    @include mobile-mb;

    &::after {
      position: absolute;
      z-index: -1;
      width: 390px;
      aspect-ratio: 390/438;
      @include bg;
      background-image: url('/src/img/ar-img-left.png');
      content: '';
      left: -330px;
      top: -111px;

      @media (max-width: 850px) {
        position: relative;
        @include max-width(390px);
        left: 0;
        top: 0;
        margin-top: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &_bottom {
    margin-bottom: 50px;

    @include tablet-mb;
    @include mobile-mb;

    &::after {
      position: absolute;
      z-index: -1;
      width: 496px;
      aspect-ratio: 496/557;
      @include bg;
      background-image: url('/src/img/ar-img-right.png');
      content: '';
      right: -429px;
      top: -141px;

      @media (max-width: 850px) {
        position: relative;
        @include max-width(496px);
        right: 0;
        top: 0;
        margin-top: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.ar__content-box {
  padding: 30px;
  background: #5929a6;
  border-radius: 20px;

  @media (max-width: 650px) {
    padding: 15px;
  }
}

.ar__content-text {
  margin-bottom: 0;
  color: white;
}

.ar__content-list-title {
  margin-bottom: 10px;
  color: white;
}

.ar__list {
  margin-bottom: 0;
  padding-left: 25px;
  list-style-type: disc;
}

.ar__item {
  color: white;
}

.ar__btn-box {
  display: flex;
  gap: 45px;
  align-items: flex-start;

  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.ar__btn-caption {
  font-family: 'Caveat';
  position: relative;
  color: #ffd5ca;
  font-style: italic;
  font-size: 30px;
  line-height: 1;
  @include max-width(393px);

  @media (max-width: 850px) {
    text-align: center;
  }

  &::after {
    content: url('/src/img/icons/ar-arrow.svg');
    position: absolute;
    top: -10px;
    right: -28px;

    @media (max-width: 850px) {
      content: none;
    }
  }

  @media (max-width: 650px) {
    font-size: 25px !important;
  }
}

.ar__btn {
  @include max-width(350px);
  box-shadow: 0px 3px 0px #539400, 0px 4px 100px rgba(250, 255, 0, 0.5);
  min-height: 70px;

  @media (max-width: 650px) {
    span {
      font-size: 16px;
    }
  }
}
