.partner {
  @include bg;
  background-image: url('/src/img/bgs/partner-bg.jpg');
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: 1150px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: none;
  }
}

.partner__title {
  text-align: center;
  color: #8b8af2;
}

.partner__devider {
  background-color: #ffd5ca;
}

.partner__text {
  text-align: center;
  margin-bottom: 50px;

  @include tablet-mb;
  @include mobile-mb;
}

.partner__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  gap: 20px 56px;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @include tablet-mb;
  @include mobile-mb;
}

.partner__item {
  @include max-width(454px);

  &:nth-child(1) {
    .partner__item-title {
      @media (max-width: 650px) {
        top: -100px;
        margin-bottom: -100px;
      }
    }
  }
  &:nth-child(2) {
    .partner__item-title {
      @media (max-width: 650px) {
        top: -88px;
      }
    }
  }
}

.partner__item-top-box {
  position: relative;
  margin-bottom: 30px;
}

.partner__item-img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 650px) {
    width: 100%;
    height: auto;
  }
}

.partner__item-title {
  background: #8b8af2;
  border-radius: 15px;
  padding: 20px;
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: -84px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: -108px;
  color: white;
}

.partner__item-text {
  padding-left: 20px;
  margin-bottom: 0;
}

.partner__note {
  padding: 30px;
  background: #e587c4;
  border-radius: 20px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  margin-bottom: 0;
  text-align: center;

  @media (max-width: 650px) {
    padding: 15px;
  }
}
